# 2023 Project

You have to work on the [ZTBus: A Large Dataset of Time-Resolved City Bus Driving Missions](https://www.research-collection.ethz.ch/handle/20.500.11850/626723) repository.

It contains:
*  [metaData.csv](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/626723/metaData.csv?sequence=1&isAllowed=y), shortly *trips*
*  several other files containing detailed data on some bus parameters, whose name is in the *trips* file. Those files can be downloaded as a [zip file](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/626723/ZTBus_compressed.zip?sequence=3&isAllowed=y). Let us call those datasets the *details* datasets.

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).
1.    At most 3 students can be in each group. You must create the groups by yourself. You can use the Zulip channel to create the groups.
1.    You do not have to send me the project *before* the discussion.

In [1]:
import pandas as pd

### I want to look how trips file is structured

In [4]:
trips = pd.read_csv("metaData.csv")
trips.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.60,31,4.022585e+08,33.114580,4,74,0.855234,287.5443,285.15,293.15
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.40,33,1.445733e+09,19.689140,0,55,0.777860,288.7490,280.15,294.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.20,72,6.207258e+08,23.753570,1,67,0.907342,284.7325,282.15,287.15

### I want to look how a file in the zip file is structured

#### i extract the file in a folder named "details"

In [ ]:
import zipfile
import os

# I create a folder named "details"
if not os.path.exists("details"):
    os.makedirs("details")

# Then extract all files from the zip in the "details" folder
with zipfile.ZipFile("ZTBus_compressed.zip", "r") as zip_ref:
    zip_ref.extractall("details")

In [5]:
import pandas as pd

df = pd.read_csv("details/B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv")
df.head()

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
0,2019-04-30T03:18:56Z,1556594336,-13.845510,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,251666.7,0.0
1,2019-04-30T03:18:57Z,1556594337,-3.849362,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,292.3688,254876.2,0.0
2,2019-04-30T03:18:58Z,1556594338,-0.672331,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,292.9310,251783.3,0.0
3,2019-04-30T03:18:59Z,1556594339,-1.087931,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,255000.0,0.0
4,2019-04-30T03:19:00Z,1556594340,-0.811985,NaN,NaN,NaN,NaN,-,NaN,-,...,0.0,0.0,0.0,1,1,0,0,293.1500,253000.0,0.0

### 1. Extract all trips with `busRoute` 83

In [6]:
trips_83 = trips[trips["busRoute"] == "83"]
trips_83

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.1500
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.1500
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.1500
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.1500
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30T04:47:53Z,1669783673,2022-11-30T19:50:22Z,1669837822,223165.00,83,1.560888e+09,27.89066,2,100,0.456196,280.6948,279.15,293.1500
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01T05:19:41Z,1669871981,2022-12-01T18:20:57Z,1669918857,190196.00,83,1.418847e+09,26.03927,0,96,0.450413,279.7655,279.15,292.1500
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02T04:47:48Z,1669956468,2022-12-02T19:40:01Z,1670010001,224473.40,83,1.611150e+09,24.80384,2,91,0.438693,279.7888,279.15,291.1500
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.78539,0,115,0.434858,279.5283,278.15,292.6655
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.87940,0,102,0.439916,279.1724,277.15,292.1500

### 2. Extract all trips where `busRoute` is not a number

In [124]:
# pd.to_numeric is a function that tries to convert all the data in numeric type
# errors="coerce" means that if the conversion is not possible, the value is set to NaN
# isna() is a function that returns True if the value is NaN, False otherwise
trips_busRoute_not_number = trips[pd.to_numeric(trips["busRoute"], errors="coerce").isna()]
trips_busRoute_not_number

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max,energy_ratio
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15,6198.176571
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15,6624.774348
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15,6189.617100
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15,6169.376311
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15,5496.878518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,4.347766e+08,16.333330,0,45,0.431852,289.2550,288.15,296.15,5533.821001
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,3.997737e+08,17.710530,0,57,0.443358,287.3486,285.15,295.15,5444.433504
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,4.475534e+08,11.216670,1,32,0.465024,281.3884,280.15,293.15,6138.330348
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.15,7589.040341
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.15,7401.677294

### 3. For each (busNumber, busRoute) pair, determine the number of trips

In [125]:
# Group by busNumber and busRoute and count the number of rows for each group
trip_counts_pair = trips.groupby(["busNumber", "busRoute"]).size().reset_index(name="tripCount")
trip_counts_pair

    busNumber busRoute  tripCount
0         183        -         11
1         183       31         12
2         183       32         12
3         183       33        130
4         183       46        104
5         183       72        114
6         183       83        441
7         183       N1         10
8         183       N2         19
9         183       N4         11
10        208       31          5
11        208       32         14
12        208       33         25
13        208       46         19
14        208       72         44
15        208       83        405
16        208       N1          6
17        208       N2         20
18        208       N4          7

### 4. For each trip, compute the ratio between the energy consumption and the average number of passengers

In [126]:
# I compute the ratio of the energy consumption and the number of passengers
energy_per_passenger = trips["energyConsumption"] / trips["itcs_numberOfPassengers_mean"]
energy_per_passenger

0       8.640500e+07
1       1.214747e+07
2       7.342794e+07
3       1.673328e+08
4       2.613190e+07
            ...
1404    1.070215e+07
1405    5.338462e+07
1406    4.738047e+07
1407    2.247753e+07
1408    3.345769e+07
Length: 1409, dtype: float64

### 5. For each station (`itcs_stopName`), determine the average number of passengers.

In [120]:
import os
import pandas as pd

# This is the folder where the CSV files are located
folder_path = "details" 

# I List all CSV files in the folder that end with ".csv"
csv_files = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith(".csv")]

# I create a dictionary to contain the tot number of passengers and counts for the average
passenger_data = {}

for file_path in csv_files:
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # I filter out rows where 'itcs_stopName' is "-" and 'itcs_numberOfPassengers' is NaN
    filtered_df = df[(df["itcs_stopName"] != "-") & (~df["itcs_numberOfPassengers"].isna())]
    
    # I Group by 'itcs_stopName' and calculate the sum and count for each group
    for station, group in filtered_df.groupby("itcs_stopName"):
        sum_passengers = group["itcs_numberOfPassengers"].sum()
        count_passengers = group["itcs_numberOfPassengers"].count()
        
        if station in passenger_data:
            passenger_data[station]["total"] += sum_passengers
            passenger_data[station]["count"] += count_passengers
        else:
            passenger_data[station] = {"total": sum_passengers, "count": count_passengers}

# I calculate the average number of passengers for each station
average_passengers_per_station = {station: data["total"] / data["count"] for station, data in passenger_data.items()}

# Then display the average passengers per station 
#f is for formatting the string and .2f is for 2 decimal places 
for station, average in average_passengers_per_station.items():
    print(f"{station}: {average:.2f} passengers")

Zürich, Bahnhof Tiefenbrunnen: 3.29 passengers
Zürich, Bahnhofplatz/HB: 21.10 passengers
Zürich, Bethanien: 15.82 passengers
Zürich, Botanischer Garten: 10.40 passengers
Zürich, Bäckeranlage: 17.89 passengers
Zürich, Central: 13.89 passengers
Zürich, Freiestrasse: 12.93 passengers
Zürich, Fröhlichstrasse: 5.36 passengers
Zürich, Güterbahnhof: 18.32 passengers
Zürich, Hardplatz: 29.77 passengers
Zürich, Hegibachplatz: 12.28 passengers
Zürich, Herdernstrasse: 8.33 passengers
Zürich, Hinterbergstrasse: 15.35 passengers
Zürich, Hofstrasse: 14.04 passengers
Zürich, Hölderlinsteig: 12.96 passengers
Zürich, Höschgasse: 8.33 passengers
Zürich, Kanonengasse: 27.18 passengers
Zürich, Kirche Fluntern: 14.57 passengers
Zürich, Klosbach: 13.28 passengers
Zürich, Klusplatz: 13.41 passengers
Zürich, Kreuzplatz: 21.81 passengers
Zürich, Kunsthaus: 21.93 passengers
Zürich, Löwenplatz: 24.26 passengers
Zürich, Militär-/Langstrasse: 28.00 passengers
Zürich, Neumarkt: 22.28 passengers
Zürich, Signaustrasse: 21.68 passengers
Zürich, Sihlpost / HB: 26.85 passengers
Zürich, Sprecherstrasse: 21.57 passengers
Zürich, Spyriplatz: 17.77 passengers
Zürich, Toblerplatz: 13.64 passengers
Zürich, Wildbachstrasse: 3.69 passengers
Zürich, Bahnhof Altstetten: 7.82 passengers
Zürich, Berghaldenstrasse: 14.56 passengers
Zürich, Carl-Spitteler-Strasse: 22.06 passengers
Zürich, Drusbergstrasse: 22.82 passengers
Zürich, Farbhof: 8.47 passengers
Zürich, Kapfstrasse: 25.39 passengers
Zürich, Kienastenwies: 5.98 passengers
Zürich, Letzibach: 9.69 passengers
Zürich, Letzipark: 9.56 passengers
Zürich, Loorenstrasse: 11.20 passengers
Zürich, SBB-Werkstätte: 9.41 passengers
Zürich, Schlyfi: 24.56 passengers
Zürich, Seidelhof: 12.02 passengers
Zürich, Waserstrasse: 20.14 passengers
Zürich, Zweiackerstrasse: 7.50 passengers
Zürich, Albisriederplatz: 25.45 passengers
Zürich, Altes Krematorium: 21.98 passengers
Zürich, Bahnhof Hardbrücke: 26.48 passengers
Zürich, Bahnhof Wipkingen: 21.93 passengers
Zürich, Escher-Wyss-Platz: 21.27 passengers
Zürich, Hubertus: 19.78 passengers
Zürich, In der Ey: 10.31 passengers
Zürich, Nürenbergstrasse: 22.56 passengers
Zürich, Rosengartenstrasse: 20.82 passengers
Zürich, Rotbuchstrasse: 23.98 passengers
Zürich, Sackzelg: 16.46 passengers
Zürich, Schaffhauserplatz: 23.22 passengers
Zürich, Scheuchzerstrasse: 21.85 passengers
Zürich, Schiffbau: 21.36 passengers
Zürich, Schulhaus Altweg: 13.71 passengers
Zürich, Seilbahn Rigiblick: 20.28 passengers
Zürich, Triemli: 8.78 passengers
Zürich, Vogelsangstrasse: 19.82 passengers
Zürich, Bertastrasse: 24.54 passengers
Zürich, Besenrainstrasse: 9.10 passengers
Zürich, Brunau/Mutschellenstr.: 14.70 passengers
Zürich, Bucheggplatz: 17.03 passengers
Zürich, Friedhof Sihlfeld: 24.98 passengers
Zürich, Hügelstrasse: 16.88 passengers
Zürich, Jugendherberge: 10.78 passengers
Zürich, Manesseplatz: 23.92 passengers
Zürich, Milchbuck: 14.61 passengers
Zürich, Morgental: 9.92 passengers
Zürich, Schmiede Wiedikon: 24.80 passengers
Zürich, Sihlcity Nord: 19.49 passengers
Zürich, Thujastrasse: 12.67 passengers
Zürich, Waffenplatz-/Bederstr.: 15.35 passengers
Zürich, Waffenplatzstrasse: 16.80 passengers
Zürich, Zwinglihaus: 23.20 passengers
Zürich, Bahnhofquai/HB: 21.95 passengers
Zürich, Geeringstrasse: 5.61 passengers
Zürich, Giblenstrasse: 10.66 passengers
Zürich, Heizenholz: 8.56 passengers
Zürich, Kempfhofsteig: 17.89 passengers
Zürich, Lehenstrasse: 19.89 passengers
Zürich, Lettenstrasse: 23.22 passengers
Zürich, Meierhofplatz: 16.13 passengers
Zürich, Nordstrasse: 26.22 passengers
Zürich, Okenstrasse: 24.75 passengers
Zürich, Rebbergsteig: 18.56 passengers
Zürich, Rütihof: 4.08 passengers
Zürich, Schwert: 17.32 passengers
Zürich, Segantinistrasse: 13.01 passengers
Zürich, Singlistrasse: 15.14 passengers
Zürich, Stampfenbachplatz: 23.29 passengers
Zürich, Wieslergasse: 15.93 passengers
Zürich, Birchdörfli: 22.41 passengers
Zürich, Einfangstrasse: 17.06 passengers
Zürich, Friesenberg: 13.51 passengers
Zürich, Friesenbergstrasse: 10.09 passengers
Zürich, Glaubtenstrasse: 18.85 passengers
Zürich, Goldbrunnenplatz: 17.68 passengers
Zürich, Hegianwandweg: 5.58 passengers
Zürich, Helvetiaplatz: 27.12 passengers
Zürich, Holzerhurd: 5.38 passengers
Zürich, Hungerbergstrasse: 8.91 passengers
Zürich, Höfliweg: 15.44 passengers
Zürich, Im Hagacker: 7.73 passengers
Zürich, Kernstrasse: 24.79 passengers
Zürich, Limmatplatz: 30.38 passengers
Zürich, Lägernstrasse: 26.38 passengers
Zürich, Neuaffoltern: 20.29 passengers
Zürich, Radiostudio: 24.38 passengers
Zürich, Röntgenstrasse: 32.55 passengers
Zürich, Strassenverkehrsamt: 5.19 passengers
Zürich, Zehntenhausplatz: 13.19 passengers
Zürich,Kalkbreite/Bhf.Wiedikon: 23.16 passengers
Zürich, Albisrank: 16.20 passengers
Zürich, Baslerstrasse: 9.11 passengers
Zürich, Bristenstrasse: 8.90 passengers
Zürich, Flurstrasse: 12.99 passengers
Zürich, Kappeli: 10.81 passengers
Zürich, Letzipark West: 9.61 passengers
Zürich, Hertersteg: 23.35 passengers
Zürich, Zentrum Witikon: 17.26 passengers
Zürich, Hermetschloo: 1.51 passengers
Zürich, Micafil: 3.55 passengers
Zürich, Dunkelhölzli: 0.37 passengers
Zürich, Lindenplatz: 5.89 passengers
Zürich, Löwenbräu: 13.40 passengers
Zürich, Museum für Gestaltung: 14.80 passengers
Zürich, Quellenstrasse: 13.97 passengers
Zürich, Rautihalde: 1.68 passengers
Zürich, Rautistrasse: 4.54 passengers
Zürich, Salzweg: 1.12 passengers
Zürich, Schulhaus Buchlern: 3.56 passengers
Zürich, Sihlquai/HB: 13.95 passengers
Zürich, Bahnhof Affoltern: 2.85 passengers
Zürich, Fronwald: 2.13 passengers
Zürich, Laubegg: 3.67 passengers
Zürich, Saalsporthalle: 3.09 passengers
Zürich, Schwandenholz: 1.06 passengers
Zürich, Sihlcity: 2.53 passengers
Zürich, Uetlihof: 4.76 passengers
Zürich, Unteraffoltern: 1.60 passengers
Zürich, Waidhof: 0.46 passengers
Zürich, Wartau: 1.41 passengers
Zürich, Zwielplatz: 2.05 passengers

### 6. For each station, determine the buses that have stopped there at least once.

##### The number of the bus is found in the file name, so we can extract it from the file path.

In [121]:
import os
import pandas as pd

# This is the folder where the CSV files are located
folder_path = "details"  

# I List all CSV files in the folder that end with ".csv"
csv_files = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith(".csv")]

# I create a dictionary to store the set of buses for each station
buses_per_station = {}

for file_path in csv_files:
    # Thanks to the nome of the file, I extract bus number from there
    bus_number = os.path.basename(file_path).split("_")[0][1:]
    
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Filter out rows where 'itcs_stopName' is "-" or NaN
    filtered_df = df[(df["itcs_stopName"] != "-") & (df["itcs_stopName"].notna())]
    
    # Then update the buses for each station
    for station in filtered_df["itcs_stopName"].unique():
        if station not in buses_per_station:
            buses_per_station[station] = set()
        buses_per_station[station].add(bus_number)

# Finally display the results
for station, buses in buses_per_station.items():
    print(f"{station}: {', '.join(buses)}")

Zürich, Herdernstrasse: 208, 183
Zürich, Hardplatz: 208, 183
Zürich, Güterbahnhof: 208, 183
Zürich, Bäckeranlage: 208, 183
Zürich, Militär-/Langstrasse: 208, 183
Zürich, Kanonengasse: 208, 183
Zürich, Sihlpost / HB: 208, 183
Zürich, Löwenplatz: 208, 183
Zürich, Bahnhofplatz/HB: 208, 183
Zürich, Central: 208, 183
Zürich, Neumarkt: 208, 183
Zürich, Kunsthaus: 208, 183
Zürich, Sprecherstrasse: 208, 183
Zürich, Kreuzplatz: 208, 183
Zürich, Signaustrasse: 208, 183
Zürich, Hegibachplatz: 208, 183
Zürich, Botanischer Garten: 208, 183
Zürich, Höschgasse: 208, 183
Zürich, Fröhlichstrasse: 208, 183
Zürich, Wildbachstrasse: 208, 183
Zürich, Bahnhof Tiefenbrunnen: 208, 183
Zürich, Freiestrasse: 208, 183
Zürich, Klusplatz: 208, 183
Zürich, Hölderlinsteig: 208, 183
Zürich, Klosbach: 208, 183
Zürich, Hofstrasse: 208, 183
Zürich, Kirche Fluntern: 208, 183
Zürich, Hinterbergstrasse: 208, 183
Zürich, Spyriplatz: 208, 183
Zürich, Bethanien: 208, 183
Zürich, Toblerplatz: 208, 183
Zürich, Kienastenwies: 208, 183
Zürich, Zweiackerstrasse: 208, 183
Zürich, Loorenstrasse: 208, 183
Zürich, Berghaldenstrasse: 208, 183
Zürich, Carl-Spitteler-Strasse: 183
Zürich, Waserstrasse: 208, 183
Zürich, Drusbergstrasse: 208, 183
Zürich, Schlyfi: 208, 183
Zürich, Kapfstrasse: 208, 183
Zürich, SBB-Werkstätte: 208, 183
Zürich, Letzipark: 208, 183
Zürich, Letzibach: 208, 183
Zürich, Bahnhof Altstetten: 208, 183
Zürich, Seidelhof: 208, 183
Zürich, Farbhof: 208, 183
Zürich, Triemli: 208, 183
Zürich, In der Ey: 208, 183
Zürich, Schulhaus Altweg: 208, 183
Zürich, Sackzelg: 208, 183
Zürich, Hubertus: 208, 183
Zürich, Altes Krematorium: 208, 183
Zürich, Albisriederplatz: 208, 183
Zürich, Bahnhof Hardbrücke: 208, 183
Zürich, Schiffbau: 208, 183
Zürich, Escher-Wyss-Platz: 208, 183
Zürich, Rosengartenstrasse: 208, 183
Zürich, Bahnhof Wipkingen: 208, 183
Zürich, Nürenbergstrasse: 208, 183
Zürich, Rotbuchstrasse: 208, 183
Zürich, Schaffhauserplatz: 208, 183
Zürich, Scheuchzerstrasse: 208, 183
Zürich, Seilbahn Rigiblick: 208, 183
Zürich, Vogelsangstrasse: 208, 183
Zürich, Milchbuck: 208, 183
Zürich, Bucheggplatz: 208, 183
Zürich, Friedhof Sihlfeld: 208, 183
Zürich, Bertastrasse: 208, 183
Zürich, Zwinglihaus: 208, 183
Zürich, Schmiede Wiedikon: 208, 183
Zürich, Manesseplatz: 208, 183
Zürich, Sihlcity Nord: 208, 183
Zürich, Waffenplatzstrasse: 208, 183
Zürich, Hügelstrasse: 208, 183
Zürich, Brunau/Mutschellenstr.: 208, 183
Zürich, Thujastrasse: 208, 183
Zürich, Jugendherberge: 208, 183
Zürich, Besenrainstrasse: 208, 183
Zürich, Morgental: 208, 183
Zürich, Waffenplatz-/Bederstr.: 208, 183
Zürich, Lehenstrasse: 208, 183
Zürich, Rebbergsteig: 208, 183
Zürich, Kempfhofsteig: 208, 183
Zürich, Schwert: 208, 183
Zürich, Meierhofplatz: 208, 183
Zürich, Wieslergasse: 208, 183
Zürich, Singlistrasse: 208, 183
Zürich, Segantinistrasse: 208, 183
Zürich, Giblenstrasse: 208, 183
Zürich, Heizenholz: 208, 183
Zürich, Geeringstrasse: 208, 183
Zürich, Rütihof: 208, 183
Zürich, Lettenstrasse: 208, 183
Zürich, Okenstrasse: 208, 183
Zürich, Stampfenbachplatz: 208, 183
Zürich, Bahnhofquai/HB: 208, 183
Zürich, Nordstrasse: 208, 183
Zürich, Helvetiaplatz: 208, 183
Zürich, Kernstrasse: 208, 183
Zürich,Kalkbreite/Bhf.Wiedikon: 208, 183
Zürich, Goldbrunnenplatz: 208, 183
Zürich, Höfliweg: 208, 183
Zürich, Friesenberg: 208, 183
Zürich, Friesenbergstrasse: 208, 183
Zürich, Im Hagacker: 208, 183
Zürich, Hegianwandweg: 208, 183
Zürich, Strassenverkehrsamt: 208, 183
Zürich, Röntgenstrasse: 208, 183
Zürich, Limmatplatz: 208, 183
Zürich, Lägernstrasse: 208, 183
Zürich, Radiostudio: 208, 183
Zürich, Birchdörfli: 208, 183
Zürich, Neuaffoltern: 208, 183
Zürich, Glaubtenstrasse: 208, 183
Zürich, Einfangstrasse: 208, 183
Zürich, Zehntenhausplatz: 208, 183
Zürich, Hungerbergstrasse: 208, 183
Zürich, Holzerhurd: 208, 183
Zürich, Bristenstrasse: 208, 183
Zürich, Baslerstrasse: 208, 183
Zürich, Letzipark West: 208, 183
Zürich, Kappeli: 208, 183
Zürich, Flurstrasse: 208, 183
Zürich, Albisrank: 208, 183
Zürich, Hertersteg: 208, 183
Zürich, Zentrum Witikon: 208, 183
Zürich, Hermetschloo: 208, 183
Zürich, Micafil: 208, 183
Zürich, Sihlquai/HB: 208, 183
Zürich, Museum für Gestaltung: 208, 183
Zürich, Quellenstrasse: 208, 183
Zürich, Löwenbräu: 208, 183
Zürich, Lindenplatz: 208, 183
Zürich, Rautistrasse: 208, 183
Zürich, Schulhaus Buchlern: 208, 183
Zürich, Rautihalde: 208, 183
Zürich, Salzweg: 208, 183
Zürich, Dunkelhölzli: 208, 183
Zürich, Sihlcity: 208, 183
Zürich, Saalsporthalle: 208, 183
Zürich, Laubegg: 208, 183
Zürich, Uetlihof: 208, 183
Zürich, Bahnhof Affoltern: 208, 183
Zürich, Fronwald: 208, 183
Zürich, Unteraffoltern: 208, 183
Zürich, Schwandenholz: 208, 183
Zürich, Waidhof: 208, 183
Zürich, Zwielplatz: 208, 183
Zürich, Wartau: 208, 183

### 7. For each station, determine the buses that have stopped there at least ten times.

In [123]:
import os
import pandas as pd

# This is the folder where the CSV files are located
folder_path = "details" 

# I List all CSV files in the folder that end with ".csv"
csv_files = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith(".csv")]

# I create a dictionary to store buses stopping at each station
# Format: {station: {bus_number: count}}
station_bus_counts = {}

for file_path in csv_files:
    # Extract bus number from file name
    bus_number = os.path.basename(file_path).split("_")[0][1:]
    
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Filter out rows where 'itcs_stopName' is not "-" and 'itcs_numberOfPassengers' is not NaN
    filtered_df = df[(df["itcs_stopName"] != "-") & (df["itcs_numberOfPassengers"].notna())]
    
    # Update counts for each station
    for station in filtered_df["itcs_stopName"].unique():
        if station not in station_bus_counts:
            station_bus_counts[station] = {}
        
        if bus_number in station_bus_counts[station]:
            station_bus_counts[station][bus_number] += 1
        else:
            station_bus_counts[station][bus_number] = 1

# Determine buses that have stopped at each station at least ten times
buses_stopped_ten_times = {station: set() for station in station_bus_counts}

for station, bus_counts in station_bus_counts.items():
    for bus, count in bus_counts.items():
        if count >= 10:
            buses_stopped_ten_times[station].add(bus)

# Print results for buses that have stopped at each station at least ten times
print("Buses that have stopped at each station at least ten times:")
for station, buses in buses_stopped_ten_times.items():
    if buses:  # Only print if there are buses that meet the criteria
        print(f"{station}: {', '.join(buses)}")

Buses that have stopped at each station at least ten times:
Zürich, Herdernstrasse: 208, 183
Zürich, Hardplatz: 208, 183
Zürich, Güterbahnhof: 208, 183
Zürich, Bäckeranlage: 208, 183
Zürich, Militär-/Langstrasse: 208, 183
Zürich, Kanonengasse: 208, 183
Zürich, Sihlpost / HB: 208, 183
Zürich, Löwenplatz: 208, 183
Zürich, Bahnhofplatz/HB: 208, 183
Zürich, Central: 208, 183
Zürich, Neumarkt: 208, 183
Zürich, Kunsthaus: 208, 183
Zürich, Sprecherstrasse: 208, 183
Zürich, Kreuzplatz: 208, 183
Zürich, Signaustrasse: 208, 183
Zürich, Hegibachplatz: 208, 183
Zürich, Botanischer Garten: 208, 183
Zürich, Höschgasse: 208, 183
Zürich, Fröhlichstrasse: 208, 183
Zürich, Wildbachstrasse: 208, 183
Zürich, Bahnhof Tiefenbrunnen: 208, 183
Zürich, Freiestrasse: 208, 183
Zürich, Klusplatz: 208, 183
Zürich, Hölderlinsteig: 208, 183
Zürich, Klosbach: 208, 183
Zürich, Hofstrasse: 208, 183
Zürich, Kirche Fluntern: 208, 183
Zürich, Hinterbergstrasse: 208, 183
Zürich, Spyriplatz: 208, 183
Zürich, Bethanien: 208, 183
Zürich, Toblerplatz: 208, 183
Zürich, Kienastenwies: 183
Zürich, Zweiackerstrasse: 183
Zürich, Loorenstrasse: 183
Zürich, Berghaldenstrasse: 183
Zürich, Waserstrasse: 183
Zürich, Drusbergstrasse: 183
Zürich, Schlyfi: 183
Zürich, Kapfstrasse: 183
Zürich, SBB-Werkstätte: 208, 183
Zürich, Letzipark: 208, 183
Zürich, Letzibach: 208, 183
Zürich, Bahnhof Altstetten: 208, 183
Zürich, Triemli: 208, 183
Zürich, In der Ey: 208, 183
Zürich, Schulhaus Altweg: 208, 183
Zürich, Sackzelg: 208, 183
Zürich, Hubertus: 208, 183
Zürich, Altes Krematorium: 208, 183
Zürich, Albisriederplatz: 208, 183
Zürich, Bahnhof Hardbrücke: 208, 183
Zürich, Schiffbau: 208, 183
Zürich, Escher-Wyss-Platz: 208, 183
Zürich, Rosengartenstrasse: 208, 183
Zürich, Bahnhof Wipkingen: 208, 183
Zürich, Nürenbergstrasse: 208, 183
Zürich, Rotbuchstrasse: 208, 183
Zürich, Schaffhauserplatz: 208, 183
Zürich, Scheuchzerstrasse: 208, 183
Zürich, Seilbahn Rigiblick: 208, 183
Zürich, Vogelsangstrasse: 208, 183
Zürich, Milchbuck: 208, 183
Zürich, Bucheggplatz: 208, 183
Zürich, Friedhof Sihlfeld: 208, 183
Zürich, Bertastrasse: 208, 183
Zürich, Zwinglihaus: 208, 183
Zürich, Schmiede Wiedikon: 208, 183
Zürich, Manesseplatz: 208, 183
Zürich, Sihlcity Nord: 208, 183
Zürich, Waffenplatzstrasse: 208, 183
Zürich, Hügelstrasse: 208, 183
Zürich, Brunau/Mutschellenstr.: 208, 183
Zürich, Thujastrasse: 208, 183
Zürich, Jugendherberge: 208, 183
Zürich, Besenrainstrasse: 208, 183
Zürich, Morgental: 208, 183
Zürich, Waffenplatz-/Bederstr.: 208, 183
Zürich, Lehenstrasse: 208, 183
Zürich, Rebbergsteig: 208, 183
Zürich, Kempfhofsteig: 208, 183
Zürich, Schwert: 208, 183
Zürich, Meierhofplatz: 208, 183
Zürich, Wieslergasse: 208, 183
Zürich, Singlistrasse: 208, 183
Zürich, Segantinistrasse: 208, 183
Zürich, Giblenstrasse: 208, 183
Zürich, Heizenholz: 208, 183
Zürich, Geeringstrasse: 208, 183
Zürich, Rütihof: 208, 183
Zürich, Lettenstrasse: 208, 183
Zürich, Okenstrasse: 208, 183
Zürich, Stampfenbachplatz: 208, 183
Zürich, Bahnhofquai/HB: 208, 183
Zürich, Nordstrasse: 208, 183
Zürich, Helvetiaplatz: 208, 183
Zürich, Kernstrasse: 208, 183
Zürich,Kalkbreite/Bhf.Wiedikon: 208, 183
Zürich, Goldbrunnenplatz: 208, 183
Zürich, Höfliweg: 208, 183
Zürich, Friesenberg: 208, 183
Zürich, Friesenbergstrasse: 208, 183
Zürich, Im Hagacker: 208, 183
Zürich, Hegianwandweg: 208, 183
Zürich, Strassenverkehrsamt: 208, 183
Zürich, Röntgenstrasse: 208, 183
Zürich, Limmatplatz: 208, 183
Zürich, Lägernstrasse: 208, 183
Zürich, Radiostudio: 208, 183
Zürich, Birchdörfli: 208, 183
Zürich, Neuaffoltern: 208, 183
Zürich, Glaubtenstrasse: 208, 183
Zürich, Einfangstrasse: 208, 183
Zürich, Zehntenhausplatz: 208, 183
Zürich, Hungerbergstrasse: 208, 183
Zürich, Holzerhurd: 208, 183
Zürich, Bristenstrasse: 208, 183
Zürich, Baslerstrasse: 208, 183
Zürich, Letzipark West: 208, 183
Zürich, Kappeli: 208, 183
Zürich, Flurstrasse: 208, 183
Zürich, Albisrank: 208, 183
Zürich, Hertersteg: 208, 183
Zürich, Sihlquai/HB: 208, 183
Zürich, Museum für Gestaltung: 208, 183
Zürich, Quellenstrasse: 208, 183
Zürich, Löwenbräu: 208, 183
Zürich, Lindenplatz: 208, 183
Zürich, Rautistrasse: 208, 183
Zürich, Schulhaus Buchlern: 208, 183
Zürich, Rautihalde: 208, 183
Zürich, Salzweg: 208, 183
Zürich, Dunkelhölzli: 208, 183
Zürich, Sihlcity: 208, 183
Zürich, Saalsporthalle: 208, 183
Zürich, Laubegg: 208, 183
Zürich, Uetlihof: 208, 183
Zürich, Bahnhof Affoltern: 208, 183
Zürich, Fronwald: 208, 183
Zürich, Unteraffoltern: 208, 183
Zürich, Schwandenholz: 208, 183
Zürich, Waidhof: 208, 183
Zürich, Zwielplatz: 183
Zürich, Wartau: 183

### 9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.

In [5]:
# I group the data by busRoute and busNumber and calculate the sum of energyConsumption and drivenDistance 
# .agg is a function that allows to apply different aggregation functions to different columns of the dataframe 
grouped_data = trips[trips["busRoute"] != "-"].groupby(["busRoute", "busNumber"]).agg({"energyConsumption": "sum", "drivenDistance": "sum"})

# Then I compute the ratio between energyConsumption and drivenDistance
grouped_data["energy_ratio"] = grouped_data["energyConsumption"] / grouped_data["drivenDistance"]

# Print the result
print(grouped_data)

                    energyConsumption  drivenDistance  energy_ratio
busRoute busNumber
31       183             1.387782e+10      2279952.00   6086.891785
         208             5.535865e+09      1046306.68   5290.862713
32       183             1.393320e+10      2256540.10   6174.585331
         208             1.283340e+10      2337064.21   5491.247671
33       183             1.761996e+11     29510481.41   5970.747507
         208             3.474842e+10      6161892.39   5639.244537
46       183             1.026237e+11     18224657.94   5631.035959
         208             2.337366e+10      4186493.70   5583.110707
72       183             1.394368e+11     23637238.45   5899.029643
         208             5.100382e+10      9427138.15   5410.318878
83       183             2.995540e+11     51249813.70   5844.977154
         208             2.907837e+11     49965928.79   5819.638891
N1       183             4.217283e+09       705122.71   5980.920966
         208             2.316328e+09       410691.93   5640.061883
N2       183             7.929098e+09      1390618.35   5701.850332
         208             7.913191e+09      1464008.67   5405.152963
N4       183             4.720068e+09       766868.89   6154.986937
         208             3.152512e+09       519599.97   6067.190112

### 10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.

In [118]:
# First I group the data by busRoute exluding the rows where busRoute is "-"
grouped_data = trips[trips['busRoute'] != "-"].groupby('busRoute')

# Then I compute the buses with max and min energy ratio for each route
# lambda x: trips.loc[x, 'busNumber'] is a function that returns the busNumber for each index
# .loc is a function that allows to access a group of rows and columns by label(s) or a boolean array
max_buses = grouped_data['energy_ratio'].idxmax().apply(lambda x: trips.loc[x, 'busNumber'])
min_buses = grouped_data['energy_ratio'].idxmin().apply(lambda x: trips.loc[x, 'busNumber'])

# I compute the difference between the max and min ratio for each busRoute
max_ratio = grouped_data['energy_ratio'].max()
min_ratio = grouped_data['energy_ratio'].min()
difference = max_ratio - min_ratio

# Create a dataframe to store the results
result_df = pd.DataFrame({'max_bus': max_buses.values, 'min_bus': min_buses.values, 'difference': difference})

# Set the busRoute as the index of the dataframe PERCHè SENO USCIVA 2 VOLTE BUSROUTE
result_df.index = max_buses.index

# Print the result
print(result_df)

          max_bus  min_bus   difference
busRoute
31            183      208  3573.682685
32            208      183  3506.789475
33            183      208  4011.584617
46            183      183  3670.272632
72            183      208  4353.158833
83            183      208  4510.187507
N1            208      208  2971.492161
N2            208      183  3469.330094
N4            183      208  2381.023738

### 11. Find the bus maximizing the difference computed in the previous point.

In [128]:
# .loc is a function that allows to select rows and columns by labels in our case we select the index of the row with the maximum difference
max_difference_bus = result_df["difference"].idxmax()
max_difference_bus_number = result_df.loc[max_difference_bus, "max_bus"]

print(f"The bus that maximize the difference is the number {max_difference_bus_number}.")

The bus that maximize the difference is the number 183.

### 12. Extract the rows of the details such that the `gnss_altitude` differs from the value in the preceding row. Store also the difference in the variable `altitude_variation`.

In [ ]:
import os
import pandas as pd

# Folder containing the trips files are located
input_folder = 'details'

def process_all_csv_in_folder(input_folder, output_folder):
    # Create the output folder if it doesn't exist
    os.makedirs(output_folder, exist_ok=True)
    
    # List all CSV files in the input folder
    csv_files = [file for file in os.listdir(input_folder) if file.endswith('.csv')]
    
    # Process each CSV file
    for csv_file in csv_files:
        csv_path = os.path.join(input_folder, csv_file)
        processed_file_path = process_csv_file(csv_path, output_folder)
        print(f"Processed file saved into: {processed_file_path}")

def process_csv_file(csv_path, output_folder):
    # Load the CSV file
    df = pd.read_csv(csv_path)
    
    # ffill replace Nan value with last valid value to esnure continuity and fill gaps
    df['gnss_altitude'] = df['gnss_altitude'].fillna(method='ffill')
    
    # Calculate altitude difference and add as new column, using 0 for the first entry (no previous altitude)
    df['altitude_variation'] = df['gnss_altitude'].diff().fillna(0)
    
    # Filter rows where 'altitude_variation' is not 0 (i.e., altitude has changed)
    df_filtered = df[df['altitude_variation'] != 0]
    
    # Generate output file name based on input file name
    base_name = os.path.basename(csv_path)
    output_file_name = os.path.join(output_folder, f"processed_{base_name}")
    
    # Save the filtered DataFrame to a new CSV file
    df_filtered.to_csv(output_file_name, index=False)
    
    return output_file_name

# Folder where will stored the processed files 
output_folder = 'altitude_var'

# Process all CSV files in the folder
process_all_csv_in_folder(input_folder, output_folder)

### 13. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of `altitude_variation`.

In [130]:
# Folder cotaing the processed files
altitude_var_folder = 'altitude_var'

# List all CSC files in the folder
csv_files = [file for file in os.listdir(altitude_var_folder) if file.endswith('.csv')]

# Initialize a list to store the data for the DataFrame
data_for_df = []

# Compute the sum of the absolute altitude_variation for each CSV file
for csv_file in csv_files:
    csv_path = os.path.join(altitude_var_folder, csv_file)
    df = pd.read_csv(csv_path)
    total_abs_variation = df['altitude_variation'].abs().sum()
   
    # Remove the prefix "processed_" from the file name
    file_name = csv_file.replace("processed_", "")
    data_for_df.append([file_name, total_abs_variation])

# Create a DataFrame from the collected data
sum_df = pd.DataFrame(data_for_df, columns=['Trip', 'Sum of Absolute Altitude Variation'])

sum_df

,Trip,Sum of Absolute Altitude Variation
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv,188.3500
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02.csv,4257.2565
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30.csv,772.5432
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20.csv,4253.7392
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24.csv,13496.2470
...,...,...
1404,B208_2022-12-06_14-43-49_2022-12-06_18-22-52.csv,2326.8094
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53.csv,8617.6752
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15.csv,8022.7330
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28.csv,2761.4677
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05.csv,3416.5572

### 14.  For each month of the year, compute the average ambient temperature

In [129]:
import pandas as pd

# Read trips
trips = pd.read_csv("metaData.csv")

# Convert the "startTime_iso" column to datetime format
trips["startTime_iso"] = pd.to_datetime(meta_data["startTime_iso"])

# Extract the month from the "startTime_iso" column
trips["month"] = trips["startTime_iso"].dt.month

# Compute the average ambient temperature for each month
average_temp_per_month = trips.groupby("month")["temperature_ambient_mean"].mean()

# Print the result
print(average_temp_per_month)

month
1     278.958474
2     280.529928
3     283.319157
4     286.608216
5     290.051582
6     296.143297
7     297.376967
8     295.847943
9     292.362038
10    287.714072
11    281.884420
12    279.381561
Name: temperature_ambient_mean, dtype: float64

### 15. For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.

#### Find which are the value that status_haltBrakeIsActive can assume

In [52]:
import pandas as pd
import os
# Define the folder path
folder_path = 'details'

# Define the file name
file_name = 'B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv'

# Construct the file path
file_path = os.path.join(folder_path, file_name)

# Read the CSV file
df = pd.read_csv(file_path)

# Get the unique values of the 'status_haltBrakeIsActive' column
unique_values = df['status_haltBrakeIsActive'].unique()

# Print the unique values
print(unique_values)

[0]

#### Find which are the value that status_parkBreakIsActive can assume

In [55]:
import pandas as pd
import os
# Define the folder path
folder_path = 'details'

# Define the file name
file_name = 'B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv'

# Construct the file path
file_path = os.path.join(folder_path, file_name)

# Read the CSV file
df = pd.read_csv(file_path)

# Get the unique values of the 'status_haltBrakeIsActive' column
unique_values = df['status_parkBrakeIsActive'].unique()

# Print the unique values
print(unique_values)

[0 1]

#### Each row is a second, len of status_haltBrakeIsActive is the time

In [65]:
import os
import pandas as pd

# Folder where the trips files are located
folder_path = 'details'

def compute_brake_times_and_ratio(folder_path):
    # I create a dictionary to accumulate results by bus number
    results_by_bus = {}
    
    # The i create a List of all the trips file in the folder details
    csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]
    
    for file_name in csv_files:
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        
        # Extract bus number from the file name
        bus_number = os.path.basename(file_path).split('_')[0][1:]
        
        # If the bus number isn't in the results dictionary, initialize it
        if bus_number not in results_by_bus:
            results_by_bus[bus_number] = {'Halt Brake Active Time': 0, 'Park Brake Active Time': 0}
        
        # Sum the active times for halt and park brakes
        results_by_bus[bus_number]['Halt Brake Active Time'] += df['status_haltBrakeIsActive'].sum()
        results_by_bus[bus_number]['Park Brake Active Time'] += df['status_parkBrakeIsActive'].sum()
    
    # Prepare a list to hold the final results for DataFrame conversion
    final_results = []
    for bus_number, times in results_by_bus.items():
        # Calculate the ratio, if the brake is 0 float('inf') to avoiding division by zero
        ratio = times['Halt Brake Active Time'] / times['Park Brake Active Time'] if times['Park Brake Active Time'] else float('inf')
        final_results.append({
            'Bus Number': bus_number,
            'Halt Brake Active Time': times['Halt Brake Active Time'],
            'Park Brake Active Time': times['Park Brake Active Time'],
            'Ratio': ratio
        })
    
    # Convert the list of results into a DataFrame
    results_df = pd.DataFrame(final_results)
    
    return results_df

# Call the function and print the results
results_df = compute_brake_times_and_ratio(folder_path)
print(results_df)

  Bus Number  Halt Brake Active Time  Park Brake Active Time     Ratio
0        183               7837532.0               3184639.0  2.461043
1        208               5942139.0               1828676.0  3.249421

#### Convert the isoTime to datetime format

In [66]:
import pandas as pd
import datetime

# I convert the time values to a readable format
results_df['Halt Brake Active Time'] = pd.to_timedelta(results_df['Halt Brake Active Time'], unit='s')
results_df['Park Brake Active Time'] = pd.to_timedelta(results_df['Park Brake Active Time'], unit='s')

# Then print the modified DataFrame
print(results_df)

  Bus Number Halt Brake Active Time Park Brake Active Time     Ratio
0        183       90 days 17:05:32       36 days 20:37:19  2.461043
1        208       68 days 18:35:39       21 days 03:57:56  3.249421

### 16. For each pair of stops that are consecutive in at least a trip, compute the average speed achieved when going from the first to the second stop.

In [78]:
import pandas as pd

# Path to the trip file i choose
file_path = 'details/B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv'

def calculate_average_speed_inclusive(file_path):
    # Load the CSV file
    data = pd.read_csv(file_path)
    
    # Add a column to identify rows with valid stops
    data['is_valid_stop'] = data['itcs_stopName'] != '-'
    
    # Initialize variables to track the start and end of valid stop segments
    segment_start = None
    speeds = []
    results = []

    # .iterrows() is a function that returns an iterator containing index and row data for each row in the dataframe 
    for index, row in data.iterrows():
        if row['is_valid_stop']:
            if segment_start is not None:
                # End of a segment: Calculate the average speed from segment_start to the current valid stop
                if speeds:  # Ensure there are collected speeds to calculate an average
                    average_speed = sum(speeds) / len(speeds)
                    results.append({
                        'From': data.at[segment_start, 'itcs_stopName'],
                        'To': row['itcs_stopName'],
                        'Average_Speed': average_speed
                    })
                speeds = []  # Reset speeds for the next segment
            segment_start = index  # Mark the start of a new segment
        elif segment_start is not None:
            # Collect speeds between valid stops, including when itcs_stopName is "-"
            speeds.append(row['odometry_vehicleSpeed'])

    # Convert the results into a DataFrame for easier visualization
    average_speed_df = pd.DataFrame(results)

    return average_speed_df


# Calculate the average speeds inclusive of all stops
average_speeds_df = calculate_average_speed_inclusive(file_path)

# Display the results
print(average_speeds_df.head())

                           From                            To  Average_Speed
0        Zürich, Herdernstrasse             Zürich, Hardplatz       6.787885
1             Zürich, Hardplatz          Zürich, Güterbahnhof       5.483498
2          Zürich, Güterbahnhof          Zürich, Bäckeranlage       4.195175
3          Zürich, Bäckeranlage  Zürich, Militär-/Langstrasse       7.142380
4  Zürich, Militär-/Langstrasse          Zürich, Kanonengasse       4.783417